/* html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333; 
  display: flex;
  flex-direction: column;
  /*background: #f4f7f6; 
  background-color: #f8f8f8;
} */

/* Centrado de secciones */
/* 
section {
  margin: auto;
  max-width: 800px; 
  padding: 20px;
  text-align: center; 
  background: F8F8F8;
} */

/* Que hacemos */
/* #what-we-do {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

#what-we-do h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 2.5rem;
}
#what-we-do h3 {
  font-size: 1.5rem;
}

.strategy,
.process,
.risk-management {
  margin-bottom: 20px;
}

.strategy h3,
.process h3,
.risk-management h3 {
  color: #333;
  margin-bottom: 10px;
}

.strategy p,
.process p,
.risk-management p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
} */

/* Additional CSS for "Risk Management" section if needed */
/* ... */

/* Products */
/* #education {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
  text-align: center; 
}

#education h2 {
  color: #333; 
  margin-bottom: 20px; 
  font-size: 2.5rem;
}

#education p {
  color: #666; 
  line-height: 1.6; 
  margin-bottom: 20px; 
}

#education a {
  color: #3871c2; 
  text-decoration: none; 
}

#education a:hover {
  text-decoration: underline; 
}

#education button {
  padding: 10px 20px;
  background-color: #3871c2; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-size: 1rem; 
  transition: background-color 0.3s ease; 
}

#education button:hover {
  background-color: #3871c2; 
} */

/* Image Container */

/* Management */
/* 
#management-team {
  text-align: center;
  padding: 50px 0;
  background-color: #f4f7f6;
}
#management-team h2 {
  font-size: 2.5rem;
}
.team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.team-member {
  flex-basis: calc(33% - 40px);
  margin: 20px;
  text-align: center;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .team-container {
    flex-direction: column;
  }

  .team-member {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
} */

/* Valores */
/* #values {
  text-align: center;
  padding: 50px 0;
  background-color: #f4f7f6;
}

.values-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.value-item {
  width: 30%;
  margin: 15px;
}

.value-item img {
  max-width: 30%;
  height: auto;
  margin-bottom: 15px;
}
#values h2 {
  font-size: 2.5rem;
}
.value-item h3 {
  color: #333;
  margin-bottom: 10px;
}

.value-item p {
  color: #666;
  font-size: 14px;
}

@media (max-width: 768px) {
  .values-container {
    flex-direction: column;
  }

  .value-item {
    width: 30%;
    margin-bottom: 30px;
  }
} */

/* Estilos para la sección de preguntas frecuentes */
/* .faqs {
  background: #f8f8f8;
  padding: 2rem;
  color: #333;
}

.faqs h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.faq-container {
  max-width: 800px;
  margin: auto;
}

.faq h3 {
  background: #3871c2;
  color: #fff;
  padding: 0.75rem 1rem;
  cursor: pointer;
  margin: 0;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.faq h3:hover {
  background-color: #1949a1;
}

.faq p {
  background: #fff;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
} */

/* Clase para expandir la respuesta */
/* .faq p.expanded {
  padding: 0.5rem 1rem;
  max-height: 500px;
} */

/* Contacto */
/* #contact {
  background-color: #f4f7f6;
  padding: 40px 0;
}
#contact h2 {
  font-size: 2rem;
}
.contact-form {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 40px;
  padding: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  grid-column: 1 / span 2;
}

.contact-form button {
  grid-column: 1 / span 2;
  padding: 10px;
  background-color: #3871c2; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1949a1; 
}

@media (max-width: 600px) {
  .contact-form {
    grid-template-columns: 1fr;
  }

  .contact-form textarea,
  .contact-form button {
    grid-column: 1;
  }
} */

/* FOOTER*/
footer {
  background: #2c3e50;
  color: #bfc9ca;
  padding: 40px 0;
  font-size: 14px;
  line-height: 1.6;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  color: #bfc9ca;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li a {
  color: #bfc9ca;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: auto;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #4a6572;
  padding-top: 20px;
}

.whatsapp-button {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 1000;
}

.whatsapp-button img {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
}

.whatsapp-button:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  header {
    border-bottom: 1px solid #4a6572;
  }
}
