.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.hamburger,
.cerrar {
  background-color: transparent;
  display: none;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  z-index: 1001;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.hamburger {
  @media (max-width: 768px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &.hidden {
    display: none;
  }
}

.cerrar {
  @media (max-width: 768px) {
    display: none;
  }
  &.visible {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  left: 20px;
  max-height: 100px;
  top: 20px;
  z-index: 1003;

  img {
    height: 120px;
    object-fit: cover;
    @media (max-width: 768px) {
      height: 80px;
    }
  }
}

.main-banner {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("/images/principal_image\ 3.jpg");
  background-position: center;
  background-size: cover;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    a {
      color: white;
      display: inline-flex;
      margin-left: 0.5rem;
      padding: 0.3rem 1rem;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #3871c2;
        color: white;
      }
    }

    @media (max-width: 768px) {
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.85);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      a {
        margin-left: 0;
      }
    }

    &.visible {
      transform: translateX(0);
    }
  }
}

.banner-content {
  margin-top: 7rem;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 3.5rem; /* 56px si el tamaño base es 16px */
    margin-bottom: 0.5rem; /* 8px si el tamaño base es 16px */

    @media (max-width: 1200px) {
      font-size: 3rem; /* 48px si el tamaño base es 16px */
    }

    @media (max-width: 992px) {
      font-size: 2.5rem; /* 40px si el tamaño base es 16px */
    }

    @media (max-width: 768px) {
      font-size: 2rem; /* 32px si el tamaño base es 16px */
    }

    @media (max-width: 576px) {
      font-size: 1.75rem; /* 28px si el tamaño base es 16px */
    }
  }

  p {
    font-size: 1.2rem; /* 19.2px si el tamaño base es 16px */
    margin-bottom: 2rem; /* 32px si el tamaño base es 16px */

    @media (max-width: 1200px) {
      font-size: 1.1rem; /* 17.6px si el tamaño base es 16px */
    }

    @media (max-width: 992px) {
      font-size: 1rem; /* 16px si el tamaño base es 16px */
    }

    @media (max-width: 768px) {
      font-size: 0.9rem; /* 14.4px si el tamaño base es 16px */
    }

    @media (max-width: 576px) {
      font-size: 0.8rem; /* 12.8px si el tamaño base es 16px */
    }
  }

  .explore-now {
    background-color: #3871c2;
    padding: 0.8rem 2rem; /* 12.8px 32px si el tamaño base es 16px */
    color: white;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #1949a1;
    }
  }
}

